@layer base {
	* {
		box-sizing: border-box;
	}

	:root {
		--accent-color: #f23d09;
		--background-color: light-dark(#f9f5ee, #212121);
		--border: 1px solid var(--text-color);
		--border-radius: 0.5rem;
		--copy-size: 1.25rem;
		--gap: 1rem;
		--padding: 1rem;
		--text-color: light-dark(#222222, #cccccc);

		color-scheme: dark;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	body {
		display: flex;
		flex-flow: column nowrap;
		min-height: 100vh;
		margin: 0;
		background-color: var(--background-color);
		color: var(--text-color);
		font-family:
			Avenir, "Avenir Next LT Pro", Montserrat, Corbel, "URW Gothic",
			source-sans-pro, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
			"Segoe UI Symbol", "Noto Color Emoji";
		font-size: var(--copy-size);
	}

	button:not(.transaction-row) {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		border-radius: var(--border-radius);
		border: var(--border);
		cursor: pointer;
		outline: none;
		padding: 0.2rem 0.4rem;
		transition: transform 0.1s ease-in-out;
		font-size: var(--copy-size);

		&:hover,
		&:active,
		&.active {
			background-color: var(--text-color);
			color: var(--background-color);
		}

		&:active {
			transform: scale(0.95);
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	p,
	h1,
	h2,
	h3 {
		margin: 0;
		padding: 0;
	}

	input,
	select {
		background-color: transparent;
		border: var(--border);
		border-radius: var(--border-radius);
		font-size: var(--copy-size);
		outline: none;
		padding: calc(var(--padding) / 2);

		&:focus,
		&:focus-visible,
		&:active {
			outline: 2px solid var(--color-secondary);
		}
	}

	input[type="number"] {
		appearance: textfield;
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

@layer utilities {
	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}

	.spin {
		animation: spin 1.5s linear infinite;
	}
}

@layer components {
	main.transaction-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: calc(var(--gap) * 2);
		padding: var(--padding);
		width: 70ch;

		@media (max-width: 768px) {
			width: 100%;
		}

		h1 {
			font-size: 1.4rem;
			font-weight: 600;
		}

		input {
			width: 100%;
		}

		section.transactions {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
	}

	details.filter-menu {
		width: 100%;
		flex: 1 1 auto;
		border: var(--border);
		border-radius: var(--border-radius);

		summary {
			padding-inline: var(--padding);
			padding-block: calc(var(--padding) / 3);
			font-size: calc(var(--copy-size) * 1.2);
			font-weight: 600;
		}

		&[open]::details-content {
			display: flex;
			flex-flow: row wrap;
			gap: var(--gap);
			padding: var(--padding);
			background-color: var(--background-color);
			border-radius: var(--border-radius);
		}

		h3 {
			width: 100%;
		}

		button {
			flex: 1 1 auto;
			padding-block: calc(var(--padding) / 2);
			padding-inline: var(--padding);
		}
	}

	form.quick-input {
		display: flex;
		flex-wrap: nowrap;
		gap: calc(var(--gap) / 4);
		width: 100%;
		font-size: var(--copy-size);

		input,
		select {
			width: 30%;
			transition: width 0.2s ease-out;

			&.active {
				width: 50%;
			}

			&:only-child {
				width: 100%;
			}
		}
	}

	.transaction-row {
		display: grid;
		grid-template-columns: 1fr 4fr 8fr 5fr;
		gap: 0.25rem;
		align-items: center;
		cursor: pointer;
		border-bottom: var(--border);
		padding-block: var(--padding);
		width: 100%;

		&:first-child {
			border-top: var(--border);
		}

		.user,
		.date {
			text-align: center;
		}

		.date {
			font-weight: 600;
		}

		.description {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.amount {
			font-weight: 600;
			text-align: right;
		}
	}
}
