@layer base {
	:root {
		--accent-color: #f23d09;
		--background-color: light-dark(#f9f5ee, #212121);
		--border: 1px dashed var(--text-color);
		--border-radius: 0.5rem;
		--copy-size: 1.25rem;
		--gap: 1rem;
		--padding: 1rem;
		--text-color: light-dark(#222222, #cccccc);

		color-scheme: dark;
		box-sizing: border-box;
	}

	body {
		display: flex;
		flex-flow: column nowrap;
		min-height: 100vh;
		margin: 0;
		background-color: var(--background-color);
		color: var(--text-color);
		font-family:
			Avenir, "Avenir Next LT Pro", Montserrat, Corbel, "URW Gothic",
			source-sans-pro, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
			"Segoe UI Symbol", "Noto Color Emoji";
		font-size: var(--copy-size);
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: transparent;
		border-radius: var(--rounded);
		border: var(--border);
		color: var(--color-primary);
		cursor: pointer;
		outline: none;
		padding: 0.2rem 0.4rem;

		&:hover,
		&:active {
			background-color: var(--color-primary);
			transform: scale(1.05);
			transition: all 0.2s ease-in-out;
		}
	}

	p,
	h1,
	h2,
	h3 {
		margin: 0;
		padding: 0;
	}
}

@layer utilities {}

@layer components {
	.transaction-row {
		display: grid;
		grid-template-columns: 1fr 4fr 8fr 5fr 2fr;
		gap: 0.25rem;
		align-items: center;

		border-bottom: var(--border);
		padding-block: var(--padding);
		width: 100%;

		@media (min-width: 768px) {
			width: 60%;
		}

		&:first-child {
			border-top: var(--border);
		}

		.user,
		.date {
			text-align: center;
		}

		.date {
			font-weight: 600;
		}

		.description {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.amount {
			font-weight: 600;
			text-align: right;
		}

		button {
			aspect-ratio: 1 / 1;
			border: var(--border);
			border-radius: var(--border-radius);
			cursor: pointer;
			place-self: center;
			width: 75%;

			&:disabled {
				cursor: not-allowed;
			}

			@media (min-width: 768px) {
				width: 50%;
			}
		}
	}
}
